html body {
  background-color: black;
}
.navbar {
  color: white;
}
.nav-link {
  color: white;
  font-size: 20px;
  margin: 0 120px 0 0;
  padding: 0 40px;
}
.nav-link:hover {
  color: white;
}

.img {
  width: 100%;
  height: auto;
  position: relative;
}
.logo {
  height: 110px;
  width: 110px;
  margin: 1.2rem 0 0 7rem;
}
.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;

  text-align: center;
}
.heading h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
}
.about-me {
  text-align: center;
  margin: 40px 0 40px 0;
  color: white;
  line-height: 2;
}

.about-me-img {
  height: 140px;
  width: 140px;
  margin: 40px;
}

.budding {
  color: white;
  text-align: center;
}
.budding h1 {
  padding: 30px;
}
.budding h4 {
  color: black;
}
.responsive {
  background-color: lightgreen;
  background-size: cover;
  padding: 50px;
}
.javascript {
  background-color: tomato;
  padding: 50px;
}
.fullstack {
  background-color: lightblue;
  padding: 50px;
}
.javascript-img {
  width: 1248px;
  height: 715px;
}
.h4 {
  padding: 40px;
}
.branch {
  color: white;
  text-align: center;
}
.branch h1 {
  padding: 30px;
}
.coding {
  padding: 50px;
  text-align: center;
  background-color: pink;
  max-width: fit-content;
}
.coding h4 {
  color: black;
  padding: 40px;
}
.c {
  padding: 50px;
}
.p {
  padding: 50px;
}
.hackera {
  text-decoration: none;
  font-size: 40px;
  padding-top: 40px;
  color: black;
}
.hacker {
  text-decoration: none;
  font-size: 40px;
  padding-top: 40px;
  color: black;
}
.hacker:hover {
  text-decoration: none;
  font-size: 40px;
  padding-top: 40px;
  color: red;
  background-position: top;
  image-orientation: flip;
  background-repeat: no-repeat;
}
.hove {
  margin-top: -40%;
  background: transparent;
  width: 450px;
  border-radius: 5rem;
}
a > div {
  display: none;
}
a:hover > div {
  display: block;
}
.projects {
  padding: 100px;
  margin: 50px;
}
.projects h1 {
  color: white;
  text-align: center;
  margin: 40px 0 40px 0;
}
.projects h4 {
  text-align: center;
  color: white;
  padding: 20px;
  text-decoration: none;
}
.projects h4:hover {
  color: black;
  padding: 20px;
  text-decoration: none;
}
.project-image {
  width: 500px;
  height: 500px;
}
.work {
  background-color: grey;
  color: white;
  max-width: fit-content;
}
.wrk {
  padding: 40px;
}
.photos {
  margin-top: 70px;
}
#b {
  width: 300px;
  height: 1000px;
  margin: 60px 0 30px 70px;
}
.vijay {
  width: 400px;
  height: 800px;
  margin: -660px 0 30px 70px;
}
.chittor {
  width: 400px;
  height: 400px;
  margin-left: -150px;
}
.darbar {
  margin: 30px 20px 30px 0;
  width: 600px;
  height: 400px;
}

.chittorcity {
  width: 400px;
  height: 400px;
  margin: -250px 0 30px 80px;
}
.darkpic {
  width: 600px;
  height: 400px;
  margin: 30px 0 30px 0px;
}
.fortbikaner {
  width: 100%;
  height: auto;
}

.redwater {
  width: 400px;
  height: 300px;
  margin: -260px 0 30px 650px;
}
.footer {
  background-color: lightgray;
  color: black;
  text-align: center;
  padding: 40px;
}
/* @keyframes badilake {
  20% {
    animation-timing-function: ease-in;
  }
  animation-name: badilake;
  animation: badilake 1s infinite;
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
} */
.bod {
  max-width: fit-content;
}

.socialmedia {
  width: 32px;
  height: 32px;
  margin: 20px;
}
@media (max-width: 880px) {
  .chittorcity {
    width: 300px;
    height: 300px;
    margin: 30px 0 30px 0;
  }
  .darkpic {
    width: 300px;
    height: 300px;
    margin: 30px 0 30px 0px;
  }
  .fortbikaner {
    width: 400px;
    height: 200px;
    margin: 30px 40px 30px 0px;
  }

  .redwater {
    width: 300px;
    height: 300px;
    margin: 30px 0 30px 0px;
  }
  #b {
    width: 300px;
    height: 1000px;
    margin: 30px 0 30px 0;
  }
  .vijay {
    width: 300px;
    height: 700px;
    margin: 30px 0 30px 0;
  }
  .chittor {
    width: 300px;
    height: 300px;
    margin: 30px 0 30px 0;
  }
  .darbar {
    width: 300px;
    height: 300px;
    margin: 30px 0 30px 0;
  }
  .logo {
    height: 50px;
    width: 50px;
    margin: 0;
  }
  .img {
    width: 480px;
    height: 700px;
    position: relative;
  }
  .heading {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: white;
    font-size: 3rem;
  }
  .responsive {
    background-color: lightgreen;
    background-size: cover;
    padding: 50px;
  }
  .h4 {
    padding: 40px;
  }
  .javascript {
    background-color: tomato;
    padding: 50px;
  }
  .javascript-img {
    width: 350px;
    height: 300px;
  }
  .responsive-img {
    width: 350px;
    height: 300px;
  }
  .fullstack-img {
    width: 350px;
    height: 300px;
  }
  .hove {
    width: 315px;
    height: 300px;
    margin-top: -70%;
  }

  .projects {
    padding: 30px;
    margin: 20px;
  }
  .projects h1 {
    color: white;
    text-align: center;
    margin: 40px 0 40px 0;
  }
  .projects h4 {
    text-align: center;
    color: white;
    padding: 30px;
    text-decoration: none;
  }
  .projects h4 a:hover {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 30px;
  }
  .project-image {
    width: 100%;
    height: 250px;
  }
  .work {
    background-color: grey;
    color: white;
  }
  .wrk {
    padding-top: 40px;
  }
}
